[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"luma.led-matrix" = "*"
"luma.emulator" = {version = "*", sys_platform = "== 'darwin'"}
requests = "*"
spotipy = "*"
cachetools = "*"

[dev-packages]

[requires]
python_version = "3.9"
